$primary-body-bg: #151d28;

$primary-bg: #347BFF;

$primary-color-bg: #347BFF;

$primary-border-bg: #347BFF;


$primary-bg-hover: #0059FF;

$primary-color-bg-hover: #0059FF;

$primary-border-bg-hover: #0059FF;

$text-color: #C9DCFF;

$primary-modal-close: #91a5c0;